{% extends "base.html" %}
{% block styles %}
<style>
    .audio-container {
        width: 100%;
        height: auto;
        background: #FFFDFD;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-bottom: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .audio-container audio {
        border-radius: 30px;
    }

    .audio-container source {
        display: block;
    }

    h1 {
        text-align: center; 
        color: #333;
    }

    .submit-button {
        margin-top: 20px;
        background-color: #E4C1FF;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }

    .submit-button:hover {
        background-color: #CB89FF;
    }

    .emotions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .emotion {
        width: calc(50% - 10px); 
        height: 50px;
        background: #E4C1FF;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 28px;
    }

    .emotion input[type="radio"] {
        display: none; 
    }

    .emotion label {
        font-size: 16px;
        cursor: pointer;
        padding: 10px 20px; 
        color: white;
    }

    .mentee_back {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .mentee_back a {
        background-color: #CCCCCC;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        text-decoration: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Guess What's in the Sound</h1>
    <div class="audio-container">
        <audio controls>
            <source src="{{ url_for('static', filename=audio_path) }}" type="audio/mpeg">
            Twoja przeglądarka nie obsługuje odtwarzacza audio w formacie HTML5.
        </audio>
    </div>
    <form id="guess-form" action="/audio" method="POST">
        <div class="emotions">
            {% for emotion in emotions %}
            <div class="emotion">
                <input type="radio" id="{{ emotion }}" name="user_answer" value="{{ emotion }}">
                <label for="{{ emotion }}">{{ emotion }}</label>
            </div>
            {% endfor %}
        </div>
        <br>
        <input type="submit" value="Submit" class="submit-button">
    </form>
    <div class="mentee_back">
        <a href="/mentee">Back to Mentee</a>
    </div>
</div>
{% endblock %}
