<style>
    .back-button {
        background-color: #CCCCCC; /* Kolor tła */
        color: white; /* Kolor tekstu */
        border: none; /* Usunięcie obramowania */
        padding: 10px 20px; /* Wewnętrzny odstęp */
        font-size: 16px; /* Rozmiar tekstu */
        border-radius: 5px; /* Zaokrąglenie krawędzi */
        cursor: pointer; /* Zmiana kursora na wskaźnik */
        margin-top: 10px; /* Margines od góry */
    }
</style>

<a href="/guardian"><button class="back-button">Back to Guardian</button></a>
