{% extends "base.html" %}
{% block styles %}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 36px;
        margin: 20px 0;
        color: #333; /* Kolor tekstu */
        text-align: center; /* Wycentrowanie tekstu */
    }

    p {
        margin: 10px 0;
        text-align: center; /* Wycentrowanie tekstu */
    }

    button, a {
        background-color: #FFB884;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 0;
        text-decoration: none;
        display: inline-block; /* Dodanie do przycisków */
    }

    button:hover, a:hover {
        background-color: #FFA14D;
    }
</style>
{% endblock %}
{% block content %}

<div class="container">
    <h1>Game Over!</h1>
    <p>Your score: {{ score }}</p>
    <p>Out of: {{ total_images }}</p>
    <a href="/mentee"><button>Back to Mentee</button></a>
</div>

{% endblock %}
